.video-js .vjs-tech {position: relative !important;}
		#myVideo{
			width: 60%;height: auto;
			margin: 0 auto;
			margin-top: 20px;
		}
		h2{
			text-align: center;
		}	
		#cctv{
			width:150px;
			height: 50px;
			background: red;
			margin:5px;
			line-height: 50px;
			color:black;
			text-align: center;
			font-weight: bold;
			cursor:pointer;
			
		}
		#cctv:hover{
			color: white;
			background-color: #000000;
		}
		.lmdh{
			position: absolute;
			top: 100px;
			right: 20px;
		}
		
		.bfck{
			margin-top: 100px;
		}
		@media only screen and (max-width: 900px){
			#myVideo{
				width: 100%;height: auto;
				margin: 0 auto;
				margin-top: 10px;
			}
			.bfck{
				margin-top: 60px;
			}
			#cctv{
				float: left;
				width:25%;
				height: 50px;
				background: red;
				margin:5px;
				line-height: 50px;
				color:black;
				text-align: center;
				font-weight: bold;
			}
			.lmdh{
				position: inherit;
				margin: 0 auto;
				
			}
		}