
*{margin: 0; padding: 0; box-sizing: border-box;}
.sjsqb{
	
}
/*= common css to all effects =*/
.single-member{width: 280px;  margin: 30px 2.5%; background-color: ; text-align: center; position: relative;}
.member-image img{max-width: 100%; vertical-align: middle;}
h3 {font-size: 20px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;font-weight: bold; color: white;}
h5 {font-size: 14px; font-weight: 300; margin: 0 0 15px; line-height: 22px;font-weight: bold; color: white;}
p {font-size: 10px; font-weight: 300; line-height: 22px; padding: 0 30px; margin-bottom: 10px;font-weight: bold;overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;

}
.social-touch a{text-decoration:none;color: white;display: inline-block; width: 50px; height: 26px; vertical-align: middle; margin: 0 2px; background-repeat: no-repeat;  transition: 0.3s;font-weight: bold;}
.social-touch a:hover{opacity: 1; transition: 0.3s;color: #000000;}
.fb-touch{background-position: 0 0;}
.tweet-touch{background-position: -35px 0;}
.linkedin-touch{background-position: -71px 0;}
 .fb-touch{background-position: 0 -27px;}
 .tweet-touch{background-position: -35px -27px;}
 .linkedin-touch{background-position: -71px -27px;}
/*= common css to all effects end =*/

/*= effect-1 css =*/
.effect-1{border-radius: 10px 10px 0px 0px; padding-bottom: 40px;margin-top: 100px;float: left;width: 15%;}
.effect-1 .member-image {border: 2px solid darkcyan; border-radius: 30px 0; display: inline-block; margin-top: -60px; overflow: hidden; transition: 0.3s;}
.effect-1 .social-touch{border-radius: 30px; background-color: #e13157; position: absolute; left: 0; bottom: 0; height: 5px; overflow: hidden; padding: 5px 0 0; width: 100%; transition: 0.3s;}
.effect-1 .member-image img{transition: 0.3s; border-radius: 30px 0;width: 80px;}
.effect-1:hover .member-image{border-color: #e13157; transition: 0.3s; border-radius: 50%;}
.effect-1:hover .social-touch{padding: 6px 0; height: 38px; transition: 0.3s;}
/*= effect-1 css end =*/
