*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('https://img.zcool.cn/community/01cfa75cdbaf02a801214168d5a68d.jpg');
	background-repeat: no-repeat;
	overflow: auto;
	background-attachment:fixed
}
.fhtb{
	position: fixed;
	bottom: 70px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: brown;
	border-radius: 5px;
}
.fhtb i{
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	line-height: 40px;
}

.rj{
			margin: 0 auto;
			margin-top: 150px;
			width: 50%;
		}
		.rj h3{
			
			text-align: center;
			color: white;
		}
		.rj ul{
			display: flex;
			justify-content: space-evenly;
			flex-flow:row wrap;
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}
		.rj ul li{
			list-style: none;
		}
		.rj ul li a img{
			margin: 40px 0px 40px 0px;
			border-radius: 50px;
			width: 50px;
			border: 5px solid cadetblue;
		}
		.rj ul li a img:hover{
			border: 5px solid yellow;
		}
		.rj p{
			display: block;
			width: 100%;
			text-align: center;
			color: white;
			font-weight: bold;
		}
		.tqyb{
			width:380px;
			margin: 0 auto;
			margin-top: 50px;
		}
		.spjs{
			margin-top: 50px;
			text-align: center;
			color: white;
		}
		.sp video{
			display: block;
			width: 50%;
			margin: 0 auto;
			border-radius: 15px;
		}
		.kpjs{
			width: 85%;
			margin: 0 auto;
		}
		.kpjs ul{
			display: flex;
			justify-content: space-evenly;
			flex-flow:row wrap;
			margin-top: 60px;
		}
		.kpjs ul li{
			margin-top: 30px;
			width: 220px;
			height: 300px;
			border-radius: 15px;
			list-style: none;
		}
		.kpjs ul li:hover .kps{
			height: 100px;
			
		}
		.kpjs ul li:hover .kpx{
			height: 200px;
			background-color: #262626;
			color: white;
		}
		.kps{
			border-radius: 15px 15px 0px 0px;
			width: 220px;
			height: 200px;
			background-color: #262626;
		}
		#kps{
			background-image: url('https://img.zcool.cn/community/01bda65ced5030a80121a4705e1d73.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 110%;
		}
		#kps2{
			background-image: url('https://img.zcool.cn/community/0163c95a4b234fa801206ed3410ccb.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 130%;
		}
		#kps3{
			background-image: url('https://img.zcool.cn/community/019aa459304642a8012193a3940c32.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
		#kps4{
			background-image: url('https://img.zcool.cn/community/01c93459267b7fb5b3086ed4dbe5ff.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
		#kps5{
			background-image: url('https://img.zcool.cn/community/01b8225590ac296ac7253264066561.jpg@3000w_1l_2o_100sh.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 130%;
		}
		.kpx{
			border-radius: 0px 0px 15px 15px;
			width: 220px;
			height: 100px;
			background-color: white;
		}
		.kpx p{
			text-align: center;
			font-weight: bold;
		}
		.kpx a{
			display: block;
			color: #A52A2A;
			text-align: center;
			font-weight: bold;
		}
		.db{
			border-top: 40px solid white;
			border-bottom: 40px solid #222222;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			flex-flow:row wrap;
			
			margin-top: 100px;
			background-color: #222222;
		}
		.dbl ul{
			display: flex;
			justify-content: space-evenly;
			flex-flow:row wrap;
			width: 100%;
			margin: 0 auto;
		}
		.dbl ul li{
			width: 80px;
			height: 30px;
			margin: 20px;
			border: 2px solid #222222;
			list-style: none;
		}
		.dbl ul li a{
			display: block;
			color: yellow;
			text-align: center;
			line-height: 30px;
			font-weight: bold;
			text-decoration:none;
		}
		.dbl ul li:hover{
			border: 2px solid white;
			border-radius: 50px;
		}
		.dbl ul li a:hover{
			color: white;
			
		}
		.db p{
			width: 80%;
			text-align: center;
			color: white;
		}
		.qb{position:sticky;top:0;z-index:100;display:flex;width:100%;padding:.8rem 0;background-color:black;align-items:center}
		.qb .nav{display:flex;width:80%;margin:0 auto;background-color:black;align-items:center}
		.qb .nav .logo{display:flex;color:white;margin-right:50px;padding:.8rem 0;align-items:center;text-decoration:none;font-weight:bold;color:ivory;font-size:24px;line-height:.8rem}
		.qb .nav .dhl{display:flex;flex-grow:1}
		.qb .nav .dhl ul{display:flex;margin-right:auto}
		.qb .nav .dhl ul li{list-style:none;width: 80px;height: 35px;text-align: center;line-height: 35px;border: 2px solid black;}
		.qb .nav .dhl ul li:hover{border: 2px solid white;border-radius: 50px;}
		.qb .nav .dhl ul li a{text-decoration:none;font-weight:bold;color:yellow;display: block;width: 100%;}
		.qb .nav .dhl ul li a:hover{color:white}
		.qb .nav .dl a{border:solid 2px azure;border-radius:.5rem;padding:.2rem .7rem;text-decoration:none;font-weight:bold;color:black}
		.qb .nav .dl{margin-top: 10px;}
		.qb .nav .dl .zc{background-color:#000;color:azure}
		.qb .nav .dl .dll{background-color:#000;color:azure}
		.qb .nav .dl .dll:hover{background-color:yellow;color:black}
		.grwznr{text-align:center;font-weight:bold;width:80%;height:100%;margin:0 auto}
		.grjltp{margin-top:40px;border-radius:2rem;width:100%;height:400px;background-color:#000;background-image:url('../img/rl.gif');background-position:center;background-repeat:no-repeat;filter:drop-shadow(5px 5px 5px rgba(0,0,0,.5))/*投影*/}
	@media only screen and (max-width: 900px){
		.kpjs{
			width: 90%;
			margin: 0 auto;
		}
		.kpjs ul{
			display: flex;
			justify-content: space-evenly;
			flex-flow:row wrap;
			margin-top: 60px;
		}
		.kpjs ul li{
			margin-top: 30px;
			width: 150px;
			height: 200px;
			border-radius: 15px;
			list-style: none;
		}
		.kpjs ul li:hover .kps{
			height: 100px;
			
		}
		.kpjs ul li:hover .kpx{
			height: 100px;
			background-color: #262626;
			color: white;
		}
		.kps{
			border-radius: 15px 15px 0px 0px;
			width: 150px;
			height: 100px;
			background-color: #262626;
		}
		.kpx{
			border-radius: 0px 0px 15px 15px;
			width: 150px;
			height: 100px;
			background-color: white;
		}
		.kpx p{
			text-align: center;
			font-weight: bold;
		}
		.kpx a{
			display: block;
			color: #A52A2A;
			text-align: center;
			font-weight: bold;
		}
		.qb .nav{flex-flow:row wrap}
		.qb .nav .logo{margin-right:auto}
		.qb .nav .logo + label{border:solid 2px black;border-radius:.5rem;padding:.3rem .7rem;color:azure;cursor:pointer}.qb .nav .logo + label + input{display:none}
		.qb .nav .logo + label + input:checked + .dhl{display:block}
		.qb .nav .dhl{display:none;flex-flow:column;width:100%}
		.qb .nav .dhl ul{flex-flow:column;margin-bottom:1rem}
		.qb .nav .dhl ul li{margin:.5rem 0}}
	@media only screen and (min-width: 900px){
			.nav .logo + label{display:none}
			.nav .logo + label + input{display:none}
			
			.zpzs{width:100%}.zpzs img{width:100%}}
	@media only screen and (max-width: 900px){
			.tqyb{
				display: none;
			}
		}
	@media only screen and (max-width: 900px){
			.sp video{
				display: block;
				width: 100%;
				margin: 0 auto;
			}
			.rj ul li a img{
				margin: 10px 0px 10px 0px;
				border-radius: 50px;
				width: 50px;
				border: 5px solid cadetblue;
			}
			
		}