*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('https://img.zcool.cn/community/0180d05c54f591a801213f260f201a.png');
	background-repeat: no-repeat;
	
}
.dlqb{
	border-radius: 10px;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	/* 1.要求自身内容相对包含块居中 */
	margin: auto;
	/* 2.给出自身宽高计算方式 */
	width: 800px; height: 400px;
	background-color:white;
	border: 4px solid white;
}
.dlz{
	float: left;
	border-radius: 10px 0px 0px 10px;
	width: 400px; height: 400px;
	background-color:black;
	background-image: url('http://img.zcool.cn/community/03820d259d88fb9a80121ae0c18c305.jpg');
	background-repeat: no-repeat;
	background-position: center;
	
}
.dly{
	float: right;
	border-radius: 0px 10px 10px 0px;
	width: 400px; height: 400px;
	background-color: black;
}
.dly p{
	text-align: center;
	color: white;
	font-weight: bold;
}
.dly a{
	color: yellow;
	display: block;
	margin-top: 170px;
}
.dll{
	outline:none; 
	border:0;
	display: block;
	margin: 0 auto;
	border-bottom: 2px solid white;
	background-color:rgba(0,0,0,0);
	width: 50%;
	height: 20px;
	color: white;
	
}
#username{
	margin-top: 140px;
}


.dlan{
	font-weight: bold;
	outline:none; 
	width: 50%;
	height: 30px;
	border-radius: 50px;
	border: 2px solid white;
	background-color: white;
	display: block;
	margin: 0 auto;
}
.zclj{
	display: block;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-align: center;
}
.dlz h1{
	color: white;
	text-align: center;
	line-height: 400px;
}
@media only screen and (max-width: 900px){
	.dlqb{
		border-radius: 10px;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		/* 1.要求自身内容相对包含块居中 */
		margin: auto;
		/* 2.给出自身宽高计算方式 */
		width: 300px; height: 500px;
		background-color: #204D74;
	}
	.dlz{
		float: left;
		border-radius: 10px 10px 0px 0px;
		width: 300px; height: 250px;
		background-color:black;
	}
	.dly{
		float: right;
		border-radius: 0px 0px 10px 10px;
		width: 300px; height: 250px;
		background-color: brown;
	}
	#username{
		margin-top: 50px;
	}
	.dlz h1{
		color: white;
		text-align: center;
		line-height: 250px;
	}
	.dly a{
		color: yellow;
		display: block;
		margin-top: 100px;
	}
}	
